<!doctype html>
<html ng-app="currenciesApp">
	<head>
        <meta charset="utf-8"/>
		<title>Currency graph</title>
        <script src="./angular.min.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script> -->
        
        <script type="text/javascript" src="./node_modules/chart.js/dist/Chart.js"></script>
<!-- 
-->
        <script type="text/javascript" src="./controllers/appModule.js"></script>
        <script type="text/javascript" src="./controllers/utils/validation.js"></script>
        <script type="text/javascript" src="./controllers/currencySelector.js"></script>
        <script type="text/javascript" src="./controllers/datePicker.js"></script>
        <script type="text/javascript" src="./controllers/services/InputCollectionService.js"></script>

        <script type="text/javascript" src="./controllers/drawGraph.js"></script>

        <link rel="stylesheet" href="./css/index.css">
	</head>

	<body>
        <div class="outer_container">
                <div class="currencySelector_container">
                    <div ng-controller="currencySelector">
                        <div  class="inner_container">
                                <span>Select base currency:</span>
                                <span>
                                    <select ng-model="baseCurrency"
                                            ng-options="x for x in fixerCurrency"
                                            ng-change="onSelectCurrencyChanged()"
                                            required>
                                            <option></option>
                                    </select>
                                </span>
                        </div>
                        <div  class="inner_container">
                                <span>Select target currency:</span>
                                <span>
                                    <select ng-model="targetCurrency"
                                            ng-options="x for x in fixerCurrency"
                                            ng-change="onSelectCurrencyChanged()"
                                            required>
                                            <option></option>
                                    </select>
                                </span>
                        </div>
                        
                        <div ng-show="showSelectionError" class ="error">
                                <div>Base and target currencies cannot be the same.</div>
                        </div>
                    </div>
            </div>
            

            <div class="datePicker_container">
                    <div ng-controller="datePicker">

                    <div >
                        <div class="inner_container  datePicker_inner">
                            <span>Select start date:</span>
                            <span>
                                <input type="date" ng-model="startDate" ng-change="onDateChanged()" />
                            </span>
                        </div>
                        
                        <div class="inner_container datePicker_inner">
                            <span>Select end date:</span>
                            <span>
                                <input type="date" ng-model="endDate" ng-change ="onDateChanged()" />
                            </span>
                        </div>
                    </div>

                    <div ng-show="moreThanMonth" class ="error">
                            <div>Date interval must be at least 31 days.</div>
                    </div>

                    <div ng-show="firstIsLast" class ="error">
                            <div>Start Date must be earlier than End Date.</div>
                    </div>
                </div>
            </div>
        </div>

        
		<div  class="graph_outer">
            <div ng-controller="drawGraph"  class="graph_inner">
                <div ng-model="chart_model" >
                    <canvas  ng-model="canvas" id="myLineChart" width="400" height="200"></canvas>
                </div>

                <div class ="error">
                        <div>{{content}}</div>
                        <div>{{statuscode}}</div>
                        <div>{{statustext}}</div>
                </div>
            </div>
        </div>
	</body>
</html>