body{
    font-family: Arial, Helvetica, sans-serif;
}

.graph_outer{
    text-justify: distribute-all-lines;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}
.graph_inner{
    background-color: rgba(255, 192, 203, 0.171);
    border-radius: 8px;
    display: inline-block;
    vertical-align: top;
    margin: 0 5%;
    width: 75%;
    padding: 30px 50px;
}
.outer_container{
    text-align : justify; 
    text-justify: distribute-all-lines;
    text-align: center;
}
.datePicker_container, .currencySelector_container{
    display: inline-block;
    vertical-align: top;
    margin: 0 5%;
}
.inner_container{
    padding: 10px;
    text-align: left;
}

.datePicker_inner{
    margin-top:-3px;
}

.error{
    color:orangered;
}
